In [1]:
#讀取資料檔案
import pandas as pd
df1=pd.read_excel('loan3(na).xlsx')
df2=pd.read_excel('nba2.xlsx')

# 資料內容顯示

In [17]:
df2.head()

,DATASET,R/P,DATE,TEAMS,H/R,W/E,W/L,DIFF,1Q,2Q,...,TO,BL,PTS,POSS,PACE,OEFF,DEFF,REST DAYS,OPENING ODDS,SPREAD
0,2016-2017 Regular Season,1,10/25/2016,New York,2,1,0,-29,18,27,...,18,6,88,100.40,100.40,87.70,116.60,3,205.50,9.50
1,2016-2017 Regular Season,1,10/25/2016,Cleveland,1,1,1,29,28,20,...,14,5,117,100.40,100.40,116.60,87.70,3,-9.50,-9.50
2,2016-2017 Regular Season,1,10/25/2016,Utah,2,2,0,-9,26,20,...,11,5,104,92.50,92.50,112.40,122.10,3,194.00,6.00
3,2016-2017 Regular Season,1,10/25/2016,Portland,1,2,1,9,26,28,...,12,3,113,92.50,92.50,122.10,112.40,3,-6.00,-6.00
4,2016-2017 Regular Season,1,10/25/2016,San Antonio,2,2,1,29,31,33,...,13,3,129,98.80,98.80,130.60,101.20,3,210.50,8.00

# t檢定:用於比較兩母體的平均數是否有顯著差異(類*量)
T值大P值小 reject H0

T值小P值大 accept H0

In [3]:
#t檢定:用於比較兩樣本的平均數是否有顯著差異(類*量)
#匯入scipy模組
from scipy import stats
#語法:stats.ttest_ind(樣本1,樣本2)
#取當W/L=0時的3P與W/L=1時的3P去做t檢定
(t,p)=stats.ttest_ind(df2['PTS'][df2['W/L']==0],df2['PTS'][df2['W/L']==1])
print("t_value=%.3f, p_value=%.3f"%(t,p))

t_value=-26.117, p_value=0.000

In [4]:
#列出勝與負球隊在三分球進球數敘述統計的差異
a=df2.groupby('W/L').mean()
b=a[["PTS"]]
b

            PTS
W/L
0     99.929268
1    111.251220

In [5]:
#把自變數放進名為NBA_test2的陣列中
NBA_set2=['1Q','2Q', '3Q', '3P', 'FT', 'TOT','A', 'ST', 'TO']

In [6]:
name=[]
alist=[]
pvlist=[]
for i in range(len(NBA_set2)):
  #分別取NBA_test2變數與W/L=0及W/L=1的交集去做t檢定
  (a,pv)=stats.ttest_ind(df2[NBA_set2[i]][df2['W/L']==0],df2[NBA_set2[i]][df2['W/L']==1])
  #將t_test項目加進name中
  name.append(NBA_set2[i])
  #將a(t值)加進alist中
  alist.append(a)
  #將pv值加進pvlist中
  pvlist.append(pv)

In [7]:
#lambda表示式是一種效能比較好的迴圈,跑比較快
pd.set_option('display.float_format',lambda x:'%.2f'%x)
#將alist資料結構用DataFrame顯示出
result=pd.DataFrame(alist,name,columns=['t_value'])
#將pvlist加進result第二欄
result.insert(1,'p_value',pvlist)
result

     t_value  p_value
1Q    -12.53     0.00
2Q    -12.46     0.00
3Q    -13.61     0.00
3P    -14.03     0.00
FT     -6.52     0.00
TOT   -13.37     0.00
A     -16.49     0.00
ST     -7.11     0.00
TO      5.66     0.00

In [8]:
a=df2.groupby('W/L').mean()
a[['1Q','2Q', '3Q', '3P', 'FT', 'TOT','A', 'ST', 'TO']]

       1Q    2Q    3Q    3P    FT   TOT     A   ST    TO
W/L
0   25.10 25.14 24.48  8.70 17.04 41.85 20.97 7.30 13.81
1   27.96 27.96 27.60 10.60 18.63 45.17 24.28 8.12 12.94

In [9]:
a=df2.groupby('W/L').std()
a[['1Q','2Q', '3Q', '3P', 'FT', 'TOT','A', 'ST', 'TO']]

      1Q   2Q   3Q   3P   FT  TOT    A   ST   TO
W/L
0   5.49 5.57 5.73 3.14 6.04 6.18 4.66 2.79 3.93
1   5.83 5.63 5.64 3.57 6.04 6.15 5.27 2.95 3.67

# 練習一：請分析東西區(W/E)球隊在得分(PTS)、三分球進球數(3P)、助攻(A)、進攻籃板(OR)、防守籃板(DR)的差異。分析後請說明哪些指標有顯著的差異。

In [27]:
a=df2.groupby('W/E').mean()
a[['PTS','3P','OR','DR','A']]

       PTS   3P    OR    DR     A
W/E
1   104.81 9.50 10.04 33.47 22.51
2   106.37 9.80 10.24 33.26 22.74

In [28]:
a=df2.groupby('W/E').std()
a[['PTS','3P','OR','DR','A']]

      PTS   3P   OR   DR    A
W/E
1   11.81 3.44 3.71 5.25 4.99
2   12.43 3.55 3.80 5.31 5.47

In [29]:
NBA_set2=['PTS','3P','OR','DR','A']
name=[]
alist=[]
pvlist=[]
for i in range(len(NBA_set2)):
  (a,pv)=stats.ttest_ind(df2[NBA_set2[i]][df2['W/E']==1],df2[NBA_set2[i]][df2['W/E']==2])
  name.append(NBA_set2[i])
  alist.append(a)
  pvlist.append(pv)
pd.set_option('display.float_format',lambda x:'%.2f'%x)
result=pd.DataFrame(alist,name,columns=['t_value'])
result.insert(1,'p_value',pvlist)
result

     t_value  p_value
PTS    -3.20     0.00
3P     -2.12     0.03
OR     -1.36     0.17
DR      0.99     0.32
A      -1.05     0.29

PTS和3P的P值都小於0.05，所以他們對於W/E有顯著相關，是有顯著差異

其中PTS的T值取絕對值大於3P的T值取絕對值，所以PTS比3P更有顯著差異

OR和DR以及A的P值因為大於0.05所以和W/E沒有顯著差異

# 變異數分析(ANOVA)

In [10]:
from scipy import stats
(f,pv)=stats.f_oneway(df2['PTS'][df2['REST DAYS']==0],
                          df2['PTS'][df2['REST DAYS']==1],
                          df2['PTS'][df2['REST DAYS']==2],
                          df2['PTS'][df2['REST DAYS']==3])
print('%.2f,%.2f'%(f,pv))

5.12,0.00

In [11]:
a=df2.groupby('REST DAYS').mean()
b=a['PTS']
b

REST DAYS
0   104.08
1   105.62
2   107.36
3   106.53
Name: PTS, dtype: float64

In [12]:
#無母數統計分析(Kruskal-Wallis Test):當資料無法滿足常態分配或變異數同值性時，不宜採用變異數分析，應採用無母數統計分析
from scipy import stats
(f,pv)=stats.kruskal(df2['PTS'][df2['REST DAYS']==0],
                          df2['PTS'][df2['REST DAYS']==1],
                          df2['PTS'][df2['REST DAYS']==2],
                          df2['PTS'][df2['REST DAYS']==3])
print('%.2f,%.2f'%(f,pv))

11.75,0.01

In [13]:
#變異數分析:比較多組樣本之間的平均數差異(類*量)
##把變數放進名為one的陣列中
NBA_set3=['FG', '3P','TOT', 'A', 'ST', 'TO', 'PTS']
name2=[]
flist2=[]
pvlist2=[]
for i in range(len(NBA_set3)):
  #分別取t_test變數與REST DAYS的交集去做變異數分析
  (f,pv2)=stats.f_oneway(df2[NBA_set3[i]][df2['REST DAYS']==0],
                          df2[NBA_set3[i]][df2['REST DAYS']==1],
                          df2[NBA_set3[i]][df2['REST DAYS']==2],
                          df2[NBA_set3[i]][df2['REST DAYS']==3])
  name2.append(NBA_set3[i])
  flist2.append(f)
  pvlist2.append(pv2)

In [14]:
result2=pd.DataFrame(flist2,name2,columns=['F_value'])
result2.insert(1,'p_value',pvlist2)
result2

     F_value  p_value
FG      6.64     0.00
3P      1.66     0.17
TOT     2.20     0.09
A       4.86     0.00
ST      2.91     0.03
TO      1.32     0.26
PTS     5.12     0.00

In [15]:
c=df2.groupby('REST DAYS').mean()
c[['FG', '3P','TOT', 'A', 'ST', 'TO', 'PTS']]

             FG    3P   TOT     A   ST    TO    PTS
REST DAYS
0         38.35  9.58 43.03 21.87 7.37 13.11 104.08
1         39.06  9.63 43.65 22.73 7.79 13.42 105.62
2         39.80 10.01 43.25 23.07 7.78 13.43 107.36
3         39.71  9.29 44.41 23.15 7.94 13.76 106.53

In [16]:
c=df2.groupby('REST DAYS').std()
c[['FG', '3P','TOT', 'A', 'ST', 'TO', 'PTS']]

            FG   3P  TOT    A   ST   TO   PTS
REST DAYS
0         4.90 3.48 6.21 5.16 2.75 3.81 12.08
1         4.97 3.47 6.42 5.22 2.94 3.87 12.18
2         4.96 3.52 6.25 5.32 2.85 3.83 12.03
3         4.66 3.76 6.75 5.31 2.95 3.27 11.70

# 練習二：請分析不同休息天數(REST DAYS)球隊在得分(PTS)、三分球進球數(3P)、助攻(A)、進攻籃板(OR)、防守籃板(DR)的差異。分析後請說明哪些有顯著的差異。

In [24]:
c=df2.groupby('REST DAYS').mean()
c[['3P','OR','A','DR','PTS']]

             3P    OR     A    DR    PTS
REST DAYS
0          9.58 10.09 21.87 32.94 104.08
1          9.63 10.15 22.73 33.49 105.62
2         10.01 10.07 23.07 33.18 107.36
3          9.29 10.38 23.15 34.03 106.53

In [25]:
c=df2.groupby('REST DAYS').std()
c[['3P','OR','A','DR','PTS']]

            3P   OR    A   DR   PTS
REST DAYS
0         3.48 3.72 5.16 4.98 12.08
1         3.47 3.79 5.22 5.36 12.18
2         3.52 3.74 5.32 5.26 12.03
3         3.76 3.55 5.31 5.50 11.70

In [26]:
NBA_set3=['3P','OR','A','DR','PTS']
name2=[]
flist2=[]
pvlist2=[]
for i in range(len(NBA_set3)):
  (f,pv2)=stats.f_oneway(df2[NBA_set3[i]][df2['REST DAYS']==0],
                          df2[NBA_set3[i]][df2['REST DAYS']==1],
                          df2[NBA_set3[i]][df2['REST DAYS']==2],
                          df2[NBA_set3[i]][df2['REST DAYS']==3])
  name2.append(NBA_set3[i])
  flist2.append(f)
  pvlist2.append(pv2) 
result2=pd.DataFrame(flist2,name2,columns=['F_value'])
result2.insert(1,'p_value',pvlist2)
result2

     F_value  p_value
3P      1.66     0.17
OR      0.25     0.86
A       4.86     0.00
DR      2.16     0.09
PTS     5.12     0.00

PTS和A的P值都小於0.05，所以他們對於休息天數有顯著相關，是有顯著差異

其中PTS的F值取絕對值大於A的F值取絕對值，所以PTS比A更有顯著差異

OR和3P以及A的P值因為大於0.05所以和休息天數沒有顯著差異

# **作業：**
# 請利用「開放銀行使用意向.xlsx」資料，進行以下分析，並以表格呈現後說明分析結果

# 一、比較不同性別民眾對開放銀行知覺易用性、知覺有用性及使用意向之差異性。

# 二、比較不同年齡層民眾對開放銀行知覺易用性、知覺有用性及使用意向之差異性。

# 三、比較不同教育程度民眾對開放銀行知覺易用性、知覺有用性及使用意向之差異性。

# 四、比較不同職業民眾對開放銀行知覺易用性、知覺有用性及使用意向之差異性。