In [1]:
import pandas as pd
import numpy as np

In [2]:
#讀取檔案，將檔案名稱設為data
from google.colab import files
df1=pd.read_excel('Mer1.xlsx')
df2=pd.read_excel('Mer2.xlsx')

In [3]:
df1.head(6)

  Number  Mid_Exam
0      a        70
1      b        75
2      c        80
3      d        90
4      e        95
5      f        85

In [4]:
df2.head(6)

  Number  Final_Exam
0      c          60
1      d          70
2      e          80
3      f          90
4      g          65
5      h          75

# 一、merge合併模式

In [6]:
#inner交集合併模式, on:依'key'欄位合併
df1.merge(df2,on = 'Number',how = 'inner')#內連線，取交集，共同擁有的

  Number  Mid_Exam  Final_Exam
0      c        80          60
1      d        90          70
2      e        95          80
3      f        85          90

In [8]:
#outer交集合併模式, on:依'key'欄位合併
df1.merge(df2,on = 'Number',how = 'outer')#取聯集，全部都取

  Number  Mid_Exam  Final_Exam
0      a      70.0         NaN
1      b      75.0         NaN
2      c      80.0        60.0
3      d      90.0        70.0
4      e      95.0        80.0
5      f      85.0        90.0
6      g       NaN        65.0
7      h       NaN        75.0

In [9]:
#left合併模式, on:依'Number'欄位合併
df1.merge(df2,on = 'Number',how = 'left')#以左側檔案為基準

  Number  Mid_Exam  Final_Exam
0      a        70         NaN
1      b        75         NaN
2      c        80        60.0
3      d        90        70.0
4      e        95        80.0
5      f        85        90.0

In [10]:
#right合併模式, on:依'Number'欄位合併
df1.merge(df2,on = 'Number',how = 'right')#以右側檔案為基準

  Number  Mid_Exam  Final_Exam
0      c      80.0          60
1      d      90.0          70
2      e      95.0          80
3      f      85.0          90
4      g       NaN          65
5      h       NaN          75

In [12]:
#讀取檔案，將檔案名稱設為data
from google.colab import files
data1=pd.read_excel('2019STA.xlsx')
data2=pd.read_excel('2019STA_2.xlsx')

In [13]:
data1.head()

   No Department Grade Gender  Quiz  Mid_Exam
0   1         BA    一A      M    81      72.0
1   2         BA    一A      M    80      87.5
2   3         BA    一A      M    69      74.0
3   4         BA    一A      F    58      52.0
4   5         BA    一A      M    82      76.0

In [14]:
data2.head()

   Number  Final_Exam
0       1          77
1       2          85
2       3          72
3       4          55
4       5          80

In [15]:
#不同欄位名稱合併模式, on:依同資料的不同欄位名稱合併
data1.merge(data2,left_on = 'No',right_on='Number')#內連線，取交集,默認取交集

    No Department Grade Gender  Quiz  Mid_Exam  Number  Final_Exam
0    1         BA    一A      M    81      72.0       1          77
1    2         BA    一A      M    80      87.5       2          85
2    3         BA    一A      M    69      74.0       3          72
3    4         BA    一A      F    58      52.0       4          55
4    5         BA    一A      M    82      76.0       5          80
5    6         BA    一A      F    81      69.5       6          75
6    7         BA    一A      F    87      92.0       7          90
7    8         BA    一A      F    95     100.0       8          97
8    9         BA    一A      M    69      71.5       9          70
9   10         BA    一A      F    83      86.0      10          85
10  11         BA    一A      F    77      77.0      11          77
11  12         BA    一A      M    54      54.0      12          55
12  13         BA    一A      M    83      75.0      13          80
13  14         BA    一A      M    72      66.0      14          70
14  15         BA    一A      M    91      93.0      15          92
15  16         BA    一A      F    67      73.5      16          70
16  17         BA    一A      M    67      69.5      17          68
17  18         BA    一A      F    70      79.5      18          75
18  19         BA    一A      M    42      34.5      19          38
19  20         BA    一A      F    76      41.0      20          58
20  21         BA    一A      M    64      76.0      21          70
21  22         BA    一A      F    80      75.0      22          77
22  23         BA    一A      M    22      39.5      23          30
23  24         BA    一A      F    49      49.0      24          50
24  25         BA    一A      M    46      57.0      25          52
25  26         BA    一A      M    73      72.0      26          72
26  27         BA    一A      M    53      54.0      27          53
27  28         BA    一A      F    34      28.5      28          30
28  29         BA    一A      M    57      50.5      29          60
29  30         BA    一A      M    69      42.0      30          55
30  31         BA    一A      M    20      18.0      31          19
31  32         BA    一A      F    42      51.5      32          60
32  33         BA    一A      M    40      28.0      33          35
33  34         BA    一A      M    18      29.0      34          25
34  35         BA    一A      F    81      84.5      35          82
35  36         BA    一A      M    69      70.5      36          70
36  37         BA    一A      M    12      15.5      37          15
37  38         BA    一A      M     8       2.5      38           5
38  39         BA    一A      M    20      12.5      39          18
39  40         BA    三A      F    60      45.5      40          50
40  41         BA    三A      M    12      25.0      41          20
41  42         BA    三A      M    48      42.0      42          50
42  43         BA    三A      M    24      35.0      43          30
43  44         FM    一A      F    79      97.0      44          88
44  45         FM    一A      F    36      37.0      45          36
45  46         FM    一A      M    80      84.5      46          82
46  47         FM    一A      F    85      87.0      47          86
47  48         FM    一A      F    56      73.5      48          65
48  49         FM    一A      F    38      36.0      49          50
49  50         FM    二A      F    87      84.5      50          85
50  51         FM    二A      F    91      75.5      51          83
51  52         FM    二A      M    97      98.0      52          97
52  53         FM    二A      F    79      75.5      53          77
53  54         FM    二A      F    87      93.0      54          90
54  55         FM    二A      F    96      94.0      55          95
55  56         FM    二A      F    79      81.0      56          80
56  57         FM    二A      F    68      70.5      57          70

# 二、concat合併模式

In [22]:
#讀取檔案，將檔案名稱設為data
from google.colab import files
df1=pd.read_excel('Mer1.xlsx')
df3=pd.read_excel('Mer3.xlsx')

In [23]:
df1.head(6)

  Number  Mid_Exam
0      a        70
1      b        75
2      c        80
3      d        90
4      e        95
5      f        85

In [24]:
df3.head(6)

  Number  Mid_Exam
0      g        80
1      h        70
2      i        80
3      j       100
4      k        95
5      l        75

In [ ]:
#concat:連結;axis=0直行合併
pd.concat([df1, df3], axis=0)

  Number  Mid_Exam
0      a        70
1      b        75
2      c        80
3      d        90
4      e        95
5      f        85
0      g        80
1      h        70
2      i        80
3      j       100
4      k        95
5      l        75

In [29]:
#axis=1橫向合併，取inner行取交集
pd.concat([df1, df2], axis=1)

  Number  Mid_Exam Number  Final_Exam
0      a        70      c          60
1      b        75      d          70
2      c        80      e          80
3      d        90      f          90
4      e        95      g          65
5      f        85      h          75

# Exercise
請以“TEAM_ID”與“GAME_ID”兩個欄位合併traditional.xlsx與advance.xlsx兩個檔案，並說明合併後的檔案與原檔案之差異。

In [16]:
data01=pd.read_excel('traditional.xlsx')
data02=pd.read_excel('advance.xlsx')

In [17]:
data01.head()

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,mis/plus
0,2018-19,1610612766,CHA,Charlotte Hornets,21801222,2019-04-10T00:00:00,CHA vs. ORL,L,48,114,...,0.889,4,28,32,21,8,3,4,14,-8
1,2018-19,1610612755,PHI,Philadelphia 76ers,21801224,2019-04-10T00:00:00,PHI vs. CHI,W,48,125,...,0.600,9,38,47,30,7,4,10,11,16
2,2018-19,1610612763,MEM,Memphis Grizzlies,21801225,2019-04-10T00:00:00,MEM vs. GSW,W,48,132,...,0.833,15,34,49,25,11,9,0,18,15
3,2018-19,1610612746,LAC,LA Clippers,21801229,2019-04-10T00:00:00,LAC vs. UTA,W,53,143,...,0.767,12,40,52,34,12,7,5,27,6
4,2018-19,1610612758,SAC,Sacramento Kings,21801230,2019-04-10T00:00:00,SAC @ POR,L,48,131,...,0.813,12,23,35,25,10,5,1,17,-5

In [18]:
data02.head()

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,OFFRTG,...,AST/TO,AST_RATIO,OREB%,DREB%,REB%,TOV%,EFG%,TS%,PACE,PIE
0,2018-19,1610612737,ATL,Atlanta Hawks,21801220,2019-04-10T00:00:00,ATL vs. IND,L,48,122.9,...,1.71,17.5,0.469,0.714,0.583,0.156,0.500,0.560,108.5,0.497
1,2018-19,1610612750,MIN,Minnesota Timberwolves,21801228,2019-04-10T00:00:00,MIN @ DEN,L,48,99.0,...,2.40,18.6,0.167,0.745,0.448,0.104,0.500,0.507,96.0,0.438
2,2018-19,1610612748,MIA,Miami Heat,21801221,2019-04-10T00:00:00,MIA @ BKN,L,48,87.0,...,1.47,15.6,0.188,0.694,0.456,0.139,0.429,0.449,108.0,0.433
3,2018-19,1610612758,SAC,Sacramento Kings,21801230,2019-04-10T00:00:00,SAC @ POR,L,48,131.0,...,2.50,17.9,0.340,0.610,0.466,0.100,0.615,0.636,99.5,0.480
4,2018-19,1610612743,DEN,Denver Nuggets,21801228,2019-04-10T00:00:00,DEN vs. MIN,W,48,103.1,...,1.77,17.4,0.255,0.833,0.552,0.135,0.506,0.524,96.0,0.562

In [21]:
#方法1 merge
data01.merge(data02,left_on='TEAM_ID',right_on='GAME_ID',how='outer')

,SEASON_YEAR_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID_x,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS,...,AST/TO,AST_RATIO,OREB%,DREB%,REB%,TOV%,EFG%,TS%,PACE,PIE
0,2018-19,1.610613e+09,CHA,Charlotte Hornets,21801222.0,2019-04-10T00:00:00,CHA vs. ORL,L,48.0,114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-19,1.610613e+09,CHA,Charlotte Hornets,21801209.0,2019-04-09T00:00:00,CHA @ CLE,W,48.0,124.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-19,1.610613e+09,CHA,Charlotte Hornets,21801198.0,2019-04-07T00:00:00,CHA @ DET,W,48.0,104.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-19,1.610613e+09,CHA,Charlotte Hornets,21801180.0,2019-04-05T00:00:00,CHA vs. TOR,W,48.0,113.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-19,1.610613e+09,CHA,Charlotte Hornets,21801171.0,2019-04-03T00:00:00,CHA @ NOP,W,48.0,115.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.00,22.9,0.347,0.778,0.573,0.114,0.582,0.608,104.5,0.616
4916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.40,14.2,0.348,0.585,0.454,0.144,0.418,0.466,103.5,0.418
4917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.33,18.3,0.415,0.652,0.546,0.204,0.479,0.525,103.5,0.582
4918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.13,13.4,0.175,0.750,0.460,0.151,0.420,0.448,105.5,0.405
4919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.40,15.0,0.250,0.825,0.540,0.143,0.490,0.509,105.5,0.595

In [32]:
#方法2 concat
pd.concat([data01, data02], axis=0)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,AST/TO,AST_RATIO,OREB%,DREB%,REB%,TOV%,EFG%,TS%,PACE,PIE
0,2018-19,1610612766,CHA,Charlotte Hornets,21801222,2019-04-10T00:00:00,CHA vs. ORL,L,48,114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-19,1610612755,PHI,Philadelphia 76ers,21801224,2019-04-10T00:00:00,PHI vs. CHI,W,48,125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-19,1610612763,MEM,Memphis Grizzlies,21801225,2019-04-10T00:00:00,MEM vs. GSW,W,48,132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-19,1610612746,LAC,LA Clippers,21801229,2019-04-10T00:00:00,LAC vs. UTA,W,53,143.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-19,1610612758,SAC,Sacramento Kings,21801230,2019-04-10T00:00:00,SAC @ POR,L,48,131.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,2018-19,1610612740,NOP,New Orleans Pelicans,21800009,2018-10-17T00:00:00,NOP @ HOU,W,48,NaN,...,3.00,22.9,0.347,0.778,0.573,0.114,0.582,0.608,104.5,0.616
2456,2018-19,1610612760,OKC,Oklahoma City Thunder,21800002,2018-10-16T00:00:00,OKC @ GSW,L,48,NaN,...,1.40,14.2,0.348,0.585,0.454,0.144,0.418,0.466,103.5,0.418
2457,2018-19,1610612755,PHI,Philadelphia 76ers,21800001,2018-10-16T00:00:00,PHI @ BOS,L,48,NaN,...,1.13,13.4,0.175,0.750,0.460,0.151,0.420,0.448,105.5,0.405
2458,2018-19,1610612744,GSW,Golden State Warriors,21800002,2018-10-16T00:00:00,GSW vs. OKC,W,48,NaN,...,1.33,18.3,0.415,0.652,0.546,0.204,0.479,0.525,103.5,0.582
2459,2018-19,1610612738,BOS,Boston Celtics,21800001,2018-10-16T00:00:00,BOS vs. PHI,W,48,NaN,...,1.40,15.0,0.250,0.825,0.540,0.143,0.490,0.509,105.5,0.595